* {
    box-sizing: border-box;
}
:root {
    --sidebar: rgb(103, 219, 248);
    --sidebar-hover: rgb(87, 186, 210);
    --main: rgb(226, 245, 249);
    --buttons: rgb(152, 215, 231);
    --buttons-hover: rgb(114, 179, 195);
    --todos: rgb(167, 222, 241);
    --todos-hover: rgb(138, 187, 203);
    --todo-del-btn: aquamarine;
    --todo-del-btn-hover: rgb(77, 227, 177);
    --text: black;
}
.dark {
    --sidebar: rgb(25, 55, 80);
    --sidebar-hover: rgb(35, 75, 105);
    --main: rgb(18, 35, 52);
    --buttons: rgb(80, 190, 220);
    --buttons-hover: rgb(65, 165, 195);
    --todos: rgb(35, 70, 95);
    --todos-hover: rgb(45, 85, 115);
    --todo-del-btn: rgb(255, 95, 95);
    --todo-del-btn-hover: rgb(240, 70, 70);
    --text: rgb(241, 245, 255);
    --border: rgb(51, 65, 85);
}
body {
    font-family: 'Times New Roman', Times, serif;
    color: var(--text);
    margin: 0;
    display: flex;
    
}
.heading {
    color: goldenrod;
}
.sidebar {
    background-color: var(--sidebar);
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    width: 300px;
}
.tab-list, .list-projectName {
    list-style: none;
    padding: 5px;
    padding-left: 20px;
    border-radius: 12px;
    margin-top: 5px;
    transition: all 0.2s ease;
}
.list-projectName:hover {
    scale: 1.05;
    background-color: var(--sidebar-hover);
}
.btn-add-project {
    width: 30px;
    height: 30px;
}
.tab-projects {
    padding: 20px;
}
    
.add-project-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    width: 100%;
}
.projectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.labelProjectForm {
    margin-bottom: 10px;
}
.formProjectButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
}
.labelProjectForm {
    padding: 10px;
    height: 1.5rem;
}

main {
    height: 100vh;
    width: 100%;
    margin-left: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main);
}
.header {
    display: flex;
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
}
.projectArea {
    display: flex;
    gap: 50px;
}
.headerButtons {
    display: flex;
    gap: 20px;
   
}
#btn-new-task {
    border-radius: 12px;
    padding: 12px 24px;
    border: none;
    background-color: var(--buttons);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
}
#btn-new-task:hover {
    background-color: var(--buttons-hover);
}
#mode {
    border: 1px solid var(--border);
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    background-color: var(--buttons);
}
#mode:hover {
    background-color: var(--buttons-hover);
}
#mode:active {
    border: none;
}
.btn-del-project {
    border-radius: 12px;
    padding: 12px 24px;
    border: 1px solid var(--border);
    font-weight: 200;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--todo-del-btn);
}
.btn-del-project:hover {
    background-color: var(--todo-del-btn-hover);
}

.projectName {
    font-size: 32px;
}
.tasks {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-container {
    height: 50px;
    padding: 10px;
    background-color: var(--todos);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    min-width: max-content;
    max-width: 80%;
    cursor: pointer;
    transition: all 0.2s ease;
    
}
.todo-container:hover {
    background-color: var(--todos-hover);
    scale: 1.05;
}
.todo-container>* {
    display: flex;
    justify-content: space-between;
}
.list-projectName {
    font-size: 20px;
    cursor: pointer;
}
.add-project-form {
    border-radius: 12px;
    border: 2px solid var(--todo-del-btn);
}
.addTodo-form-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    inset: 0;
    color: rgb(0,0,0,0.7);
}
#addTodo-form {
    border: 2px solid var(--sidebar);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--main);
    z-index: 1000;
    border-radius: 12px;
}
.formT, .formD1, .formD2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}
.priority-box {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-top: 10px;
}
.labels {
    display: flex;
    flex-direction: column;
}
.formButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
}
.isDoneCheckbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid rgb(199, 231, 19);
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
}
.isDoneCheckbox:hover {
    scale: 1.2;
}
.isDoneCheckbox:checked, .isDoneCheckbox.high:checked, .isDoneCheckbox.low:checked  {
    border: 3px solid rgb(110, 110, 110, 0.75);
    box-shadow: inset 0 0 0 2px rgb(110, 110, 110, 0.75);
    text-decoration: line-through;
}
.isDoneCheckbox.high {
    border: 3px solid rgb(210, 13, 13);
}
.isDoneCheckbox.low {
    border: 3px solid rgb(103, 152, 251);
}
.completed {
    border: 3px solid rgb(110, 110, 110, 0.75);
    box-shadow: inset 0 0 0 2px rgb(110, 110, 110, 0.75);
    opacity: 50%;
    
}
.completed>p, .completed>h4 {
    text-decoration: line-through;
}
.completed>button {
    background-color: rgb(110, 110, 110, 0.75);
    text-decoration: none;
}
.btn-deleteTodo {
    border: none;
    background-color: var(--todo-del-btn);
    flex: 0;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.btn-deleteTodo:hover {
    background-color: var(--todo-del-btn-hover);
}
.btn-del-project:hover {
    border: 1px solid var(--border);
    font-weight: 500;
}
.selected {
    background-color: var(--sidebar-hover);
}
.low-list>h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#btn-add-project {
    border: none;
    background-color: var(--sidebar);
    font-size: 40px;
    display: flex;
    align-items: center;
    opacity: 10%;
    cursor: pointer;
    color: var(--text);
}
#btn-add-project:hover {
    opacity: 70%;
    background-color: var(--sidebar);
}
.todo-description {
    flex: 1;
}
.todo-dueDate {
    flex: 1;
}