* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}
.sidebar {
    background-color: lightblue;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 30px;
    padding-right: 30px;
    height: 100vh;
    width: 300px;
}
.tab-list, .list-projectName {
    list-style: none;
}
.btn-add-project {
    width: 30px;
    height: 30px;
    
}
    
.add-project-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 100%;
}
.projectForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.labelProjectForm {
    margin-bottom: 10px;
}
.formProjectButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
}
.labelProjectForm {
    padding: 10px;
    height: 1.5rem;
}

main {
    height: 100vh;
    width: 100%;
    margin-left: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    justify-content: space-between;
}
.projectArea {
    display: flex;
    gap: 50px;
}
.headerButtons {
    display: flex;
    gap: 20px;
   
}
.headerButtons>* {
     border-radius: 12px/15px;
}
.projectName {
    font-size: 32px;
}
.tasks {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-container {
    height: 50px;
    padding: 10px;
    border: 2px solid lightgreen;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 10px;
    border-radius: 12px/15px;
    min-width: max-content;
    max-width: 80%;
    
}
.todo-container>* {
    display: flex;
    justify-content: space-between;
    /* flex-shrink: 0; */
}
.list-projectName {
    font-size: 20px;
    cursor: pointer;
}
.addTodo-form-container {
    border: 2px solid blueviolet;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    inset: 0;
    color: rgb(0,0,0,0.7);
}
#addTodo-form {
    border: 2px solid rgb(113, 127, 11);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: aqua;
    z-index: 1000;

}
.formT, .formD1, .formD2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}
.priority-box {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-top: 10px;
}
.labels {
    display: flex;
    flex-direction: column;
}
.formButtons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    padding: 10px;
}
.isDoneCheckbox {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid rgb(199, 231, 19);
    margin-right: 10px;
    display: flex;
    flex-shrink: 0;
}
.isDoneCheckbox:checked, .isDoneCheckbox.high:checked, .isDoneCheckbox.low:checked  {
    border: 3px solid rgb(110, 110, 110, 0.75);
    box-shadow: inset 0 0 0 2px rgb(110, 110, 110, 0.75);
    text-decoration: line-through;
}
.isDoneCheckbox.high {
    border: 3px solid rgb(210, 13, 13);
}
.isDoneCheckbox.low {
    border: 3px solid rgb(103, 152, 251);
}
.completed {
    border: 3px solid rgb(110, 110, 110, 0.75);
    box-shadow: inset 0 0 0 2px rgb(110, 110, 110, 0.75);
    opacity: 50%;
    
}
.completed>p, .completed>h4 {
    text-decoration: line-through;
}
.completed>button {
    background-color: rgb(110, 110, 110, 0.75);
    text-decoration: none;
}
.btn-deleteTodo {
    border: none;
    background-color: aquamarine;
    flex: 0;
}
.btn-del-project {
    border-radius: 12px/15px;
}
.selected {
    background-color: rgb(37, 166, 241);
}